.direction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.direction-container p {
    font-size: 24px;
}

.auth-modal__conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: #e2e3e6 solid 1px;
    border-radius: 20px;
    padding: 20px 10px;
    background-color: #282b31;
}

.auth-modal__form {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    gap: 15px;
}

.auth-modal__title {
    margin-top: 0;
    margin-bottom: 20px;
}

.auth-form__field {
    width: 260px;
    height: 30px;
    box-sizing: border-box;
}

.auth-modal__submit-btn {
    width: 260px;
    height: 30px;
    background-color: #7f77f1;
    color: #e2e3e6;
    border: unset;
    padding: 0;
    font-weight: bold;
}

.auth-modal__reg-link {
    color: #7f77f1;
}